.latest-collection {
    margin-top: 2.5rem;
  }
  
  .header {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.875rem; /* Equivalent to text-3xl */
  }
  
  .subheading {
    width: 75%; /* Equivalent to w-3/4 in Tailwind */
    margin: auto;
    font-size: 0.875rem; /* Equivalent to text-xs in Tailwind */
    color: #144e1e; /* Equivalent to text-gray-600 */
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Equivalent to gap-4 */
    
  }
  
  @media (min-width: 640px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); /* Equivalent to sm:grid-cols-3 */
    }
  }
  
  @media (min-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr); /* Equivalent to md:grid-cols-4 */
    }
  }
  
  @media (min-width: 1024px) {
    .product-grid {
      grid-template-columns: repeat(5, 1fr); /* Equivalent to lg:grid-cols-5 */
    }
  }
  