
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    transition: 0.5s;
}

.container.dark {
    background: #222;
    color: #fff;
}

.header, .carousel {
    width: 100%;
    text-align: center;
}
